
/*------------------------------------
- COLOR gunn
------------------------------------*/
.alert-gunn {
    color: #390707;
    background-color: #f19696;
    border-color: #ee8484;
}

.alert-gunn hr {
    border-top-color: #eb6e6e;
}

.alert-gunn .alert-link {
    color: #0c0101;
}

.badge-gunn {
    color: #fff;
    background-color: #a61616;
}

.badge-gunn[href]:hover, .badge-gunn[href]:focus {
    color: #fff;
    background-color: #781010;
}

.bg-gunn {
    background-color: #a61616 !important;
}

a.bg-gunn:hover, a.bg-gunn:focus,
button.bg-gunn:hover,
button.bg-gunn:focus {
    background-color: #781010 !important;
}

.border-gunn {
    border-color: #a61616 !important;
}

.btn-gunn {
    color: #fff;
    background-color: #a61616;
    border-color: #a61616;
}

.btn-gunn:hover {
    color: #fff;
    background-color: #861111;
    border-color: #781010;
}

.btn-gunn:focus, .btn-gunn.focus {
    box-shadow: 0 0 0 0.2rem rgba(166, 22, 22, 0.5);
}

.btn-gunn.disabled, .btn-gunn:disabled {
    color: #fff;
    background-color: #a61616;
    border-color: #a61616;
}

.btn-gunn:not(:disabled):not(.disabled):active, .btn-gunn:not(:disabled):not(.disabled).active, .show > .btn-gunn.dropdown-toggle {
    color: #fff;
    background-color: #781010;
    border-color: #6b0e0e;
}

.btn-gunn:not(:disabled):not(.disabled):active:focus, .btn-gunn:not(:disabled):not(.disabled).active:focus, .show > .btn-gunn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(166, 22, 22, 0.5);
}

.btn-outline-gunn {
    color: #a61616;
    background-color: transparent;
    border-color: #a61616;
}

.btn-outline-gunn:hover {
    color: #fff;
    background-color: #a61616;
    border-color: #a61616;
}

.btn-outline-gunn:focus, .btn-outline-gunn.focus {
    box-shadow: 0 0 0 0.2rem rgba(166, 22, 22, 0.5);
}

.btn-outline-gunn.disabled, .btn-outline-gunn:disabled {
    color: #a61616;
    background-color: transparent;
}

.btn-outline-gunn:not(:disabled):not(.disabled):active, .btn-outline-gunn:not(:disabled):not(.disabled).active, .show > .btn-outline-gunn.dropdown-toggle {
    color: #fff;
    background-color: #a61616;
    border-color: #a61616;
}

.btn-outline-gunn:not(:disabled):not(.disabled):active:focus, .btn-outline-gunn:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-gunn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(166, 22, 22, 0.5);
}

.list-group-item-gunn {
    color: #390707;
    background-color: #ee8484;
}

.list-group-item-gunn.list-group-item-action:hover, .list-group-item-gunn.list-group-item-action:focus {
    color: #390707;
    background-color: #eb6e6e;
}

.list-group-item-gunn.list-group-item-action.active {
    color: #fff;
    background-color: #390707;
    border-color: #390707;
}

.table-gunn,
.table-gunn > th,
.table-gunn > td {
    background-color: #ee8484;
}

.table-hover .table-gunn:hover {
    background-color: #eb6e6e;
}

.table-hover .table-gunn:hover > td,
.table-hover .table-gunn:hover > th {
    background-color: #eb6e6e;
}

.text-gunn {
    color: #a61616 !important;
}

a.text-gunn:hover, a.text-gunn:focus {
    color: #781010 !important;
}


/*------------------------------------
- COLOR grass
------------------------------------*/
.alert-grass {
    color: #0f2110;
    background-color: #a1d5a6;
    border-color: #93ce99;
}

.alert-grass hr {
    border-top-color: #82c688;
}

.alert-grass .alert-link {
    color: #000000;
}

.badge-grass {
    color: #fff;
    background-color: #35763b;
}

.badge-grass[href]:hover, .badge-grass[href]:focus {
    color: #fff;
    background-color: #255229;
}

.bg-grass {
    background-color: #35763b !important;
}

a.bg-grass:hover, a.bg-grass:focus,
button.bg-grass:hover,
button.bg-grass:focus {
    background-color: #255229 !important;
}

.border-grass {
    border-color: #35763b !important;
}

.btn-grass {
    color: #fff;
    background-color: #35763b;
    border-color: #35763b;
}

.btn-grass:hover {
    color: #fff;
    background-color: #295d2e;
    border-color: #255229;
}

.btn-grass:focus, .btn-grass.focus {
    box-shadow: 0 0 0 0.2rem rgba(53, 118, 59, 0.5);
}

.btn-grass.disabled, .btn-grass:disabled {
    color: #fff;
    background-color: #35763b;
    border-color: #35763b;
}

.btn-grass:not(:disabled):not(.disabled):active, .btn-grass:not(:disabled):not(.disabled).active, .show > .btn-grass.dropdown-toggle {
    color: #fff;
    background-color: #255229;
    border-color: #204824;
}

.btn-grass:not(:disabled):not(.disabled):active:focus, .btn-grass:not(:disabled):not(.disabled).active:focus, .show > .btn-grass.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(53, 118, 59, 0.5);
}

.btn-outline-grass {
    color: #35763b;
    background-color: transparent;
    border-color: #35763b;
}

.btn-outline-grass:hover {
    color: #fff;
    background-color: #35763b;
    border-color: #35763b;
}

.btn-outline-grass:focus, .btn-outline-grass.focus {
    box-shadow: 0 0 0 0.2rem rgba(53, 118, 59, 0.5);
}

.btn-outline-grass.disabled, .btn-outline-grass:disabled {
    color: #35763b;
    background-color: transparent;
}

.btn-outline-grass:not(:disabled):not(.disabled):active, .btn-outline-grass:not(:disabled):not(.disabled).active, .show > .btn-outline-grass.dropdown-toggle {
    color: #fff;
    background-color: #35763b;
    border-color: #35763b;
}

.btn-outline-grass:not(:disabled):not(.disabled):active:focus, .btn-outline-grass:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-grass.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(53, 118, 59, 0.5);
}

.list-group-item-grass {
    color: #0f2110;
    background-color: #93ce99;
}

.list-group-item-grass.list-group-item-action:hover, .list-group-item-grass.list-group-item-action:focus {
    color: #0f2110;
    background-color: #82c688;
}

.list-group-item-grass.list-group-item-action.active {
    color: #fff;
    background-color: #0f2110;
    border-color: #0f2110;
}

.table-grass,
.table-grass > th,
.table-grass > td {
    background-color: #93ce99;
}

.table-hover .table-grass:hover {
    background-color: #82c688;
}

.table-hover .table-grass:hover > td,
.table-hover .table-grass:hover > th {
    background-color: #82c688;
}

.text-grass {
    color: #35763b !important;
}

a.text-grass:hover, a.text-grass:focus {
    color: #255229 !important;
}


/*------------------------------------
- COLOR history
------------------------------------*/
.alert-history {
    color: #493d0c;
    background-color: #f0e2ac;
    border-color: #eddc9b;
}

.alert-history hr {
    border-top-color: #e9d585;
}

.alert-history .alert-link {
    color: #1e1905;
}

.badge-history {
    color: #212529;
    background-color: #b2941f;
}

.badge-history[href]:hover, .badge-history[href]:focus {
    color: #212529;
    background-color: #866f17;
}

.bg-history {
    background-color: #b2941f !important;
}

a.bg-history:hover, a.bg-history:focus,
button.bg-history:hover,
button.bg-history:focus {
    background-color: #866f17 !important;
}

.border-history {
    border-color: #b2941f !important;
}

.btn-history {
    color: #212529;
    background-color: #b2941f;
    border-color: #b2941f;
}

.btn-history:hover {
    color: #212529;
    background-color: #937a19;
    border-color: #866f17;
}

.btn-history:focus, .btn-history.focus {
    box-shadow: 0 0 0 0.2rem rgba(178, 148, 31, 0.5);
}

.btn-history.disabled, .btn-history:disabled {
    color: #212529;
    background-color: #b2941f;
    border-color: #b2941f;
}

.btn-history:not(:disabled):not(.disabled):active, .btn-history:not(:disabled):not(.disabled).active, .show > .btn-history.dropdown-toggle {
    color: #212529;
    background-color: #866f17;
    border-color: #796515;
}

.btn-history:not(:disabled):not(.disabled):active:focus, .btn-history:not(:disabled):not(.disabled).active:focus, .show > .btn-history.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(178, 148, 31, 0.5);
}

.btn-outline-history {
    color: #b2941f;
    background-color: transparent;
    border-color: #b2941f;
}

.btn-outline-history:hover {
    color: #212529;
    background-color: #b2941f;
    border-color: #b2941f;
}

.btn-outline-history:focus, .btn-outline-history.focus {
    box-shadow: 0 0 0 0.2rem rgba(178, 148, 31, 0.5);
}

.btn-outline-history.disabled, .btn-outline-history:disabled {
    color: #b2941f;
    background-color: transparent;
}

.btn-outline-history:not(:disabled):not(.disabled):active, .btn-outline-history:not(:disabled):not(.disabled).active, .show > .btn-outline-history.dropdown-toggle {
    color: #212529;
    background-color: #b2941f;
    border-color: #b2941f;
}

.btn-outline-history:not(:disabled):not(.disabled):active:focus, .btn-outline-history:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-history.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(178, 148, 31, 0.5);
}

.list-group-item-history {
    color: #493d0c;
    background-color: #eddc9b;
}

.list-group-item-history.list-group-item-action:hover, .list-group-item-history.list-group-item-action:focus {
    color: #493d0c;
    background-color: #e9d585;
}

.list-group-item-history.list-group-item-action.active {
    color: #212529;
    background-color: #493d0c;
    border-color: #493d0c;
}

.table-history,
.table-history > th,
.table-history > td {
    background-color: #eddc9b;
}

.table-hover .table-history:hover {
    background-color: #e9d585;
}

.table-hover .table-history:hover > td,
.table-hover .table-history:hover > th {
    background-color: #e9d585;
}

.text-history {
    color: #b2941f !important;
}

a.text-history:hover, a.text-history:focus {
    color: #866f17 !important;
}


/*------------------------------------
- COLOR road
------------------------------------*/
.alert-road {
    color: #3a3a3a;
    background-color: #dedede;
    border-color: #d3d3d3;
}

.alert-road hr {
    border-top-color: #c7c7c7;
}

.alert-road .alert-link {
    color: #212121;
}

.badge-road {
    color: #fff;
    background-color: #787878;
}

.badge-road[href]:hover, .badge-road[href]:focus {
    color: #fff;
    background-color: #5e5e5e;
}

.bg-road {
    background-color: #787878 !important;
}

a.bg-road:hover, a.bg-road:focus,
button.bg-road:hover,
button.bg-road:focus {
    background-color: #5e5e5e !important;
}

.border-road {
    border-color: #787878 !important;
}

.btn-road {
    color: #fff;
    background-color: #787878;
    border-color: #787878;
}

.btn-road:hover {
    color: #fff;
    background-color: #666666;
    border-color: #5e5e5e;
}

.btn-road:focus, .btn-road.focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 120, 120, 0.5);
}

.btn-road.disabled, .btn-road:disabled {
    color: #fff;
    background-color: #787878;
    border-color: #787878;
}

.btn-road:not(:disabled):not(.disabled):active, .btn-road:not(:disabled):not(.disabled).active, .show > .btn-road.dropdown-toggle {
    color: #fff;
    background-color: #5e5e5e;
    border-color: #565656;
}

.btn-road:not(:disabled):not(.disabled):active:focus, .btn-road:not(:disabled):not(.disabled).active:focus, .show > .btn-road.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 120, 120, 0.5);
}

.btn-outline-road {
    color: #787878;
    background-color: transparent;
    border-color: #787878;
}

.btn-outline-road:hover {
    color: #fff;
    background-color: #787878;
    border-color: #787878;
}

.btn-outline-road:focus, .btn-outline-road.focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 120, 120, 0.5);
}

.btn-outline-road.disabled, .btn-outline-road:disabled {
    color: #787878;
    background-color: transparent;
}

.btn-outline-road:not(:disabled):not(.disabled):active, .btn-outline-road:not(:disabled):not(.disabled).active, .show > .btn-outline-road.dropdown-toggle {
    color: #fff;
    background-color: #787878;
    border-color: #787878;
}

.btn-outline-road:not(:disabled):not(.disabled):active:focus, .btn-outline-road:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-road.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 120, 120, 0.5);
}

.list-group-item-road {
    color: #3a3a3a;
    background-color: #d3d3d3;
}

.list-group-item-road.list-group-item-action:hover, .list-group-item-road.list-group-item-action:focus {
    color: #3a3a3a;
    background-color: #c7c7c7;
}

.list-group-item-road.list-group-item-action.active {
    color: #fff;
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}

.table-road,
.table-road > th,
.table-road > td {
    background-color: #d3d3d3;
}

.table-hover .table-road:hover {
    background-color: #c7c7c7;
}

.table-hover .table-road:hover > td,
.table-hover .table-road:hover > th {
    background-color: #c7c7c7;
}

.text-road {
    color: #787878 !important;
}

a.text-road:hover, a.text-road:focus {
    color: #5e5e5e !important;
}


/*------------------------------------
- COLOR science
------------------------------------*/
.alert-science {
    color: #7f337b;
    background-color: #fdfbfd;
    border-color: #f7ecf7;
}

.alert-science hr {
    border-top-color: #f0daef;
}

.alert-science .alert-link {
    color: #5a2458;
}

.badge-science {
    color: #212529;
    background-color: #c36abf;
}

.badge-science[href]:hover, .badge-science[href]:focus {
    color: #212529;
    background-color: #b247ad;
}

.bg-science {
    background-color: #c36abf !important;
}

a.bg-science:hover, a.bg-science:focus,
button.bg-science:hover,
button.bg-science:focus {
    background-color: #b247ad !important;
}

.border-science {
    border-color: #c36abf !important;
}

.btn-science {
    color: #212529;
    background-color: #c36abf;
    border-color: #c36abf;
}

.btn-science:hover {
    color: #212529;
    background-color: #b850b4;
    border-color: #b247ad;
}

.btn-science:focus, .btn-science.focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 106, 191, 0.5);
}

.btn-science.disabled, .btn-science:disabled {
    color: #212529;
    background-color: #c36abf;
    border-color: #c36abf;
}

.btn-science:not(:disabled):not(.disabled):active, .btn-science:not(:disabled):not(.disabled).active, .show > .btn-science.dropdown-toggle {
    color: #212529;
    background-color: #b247ad;
    border-color: #a743a2;
}

.btn-science:not(:disabled):not(.disabled):active:focus, .btn-science:not(:disabled):not(.disabled).active:focus, .show > .btn-science.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 106, 191, 0.5);
}

.btn-outline-science {
    color: #c36abf;
    background-color: transparent;
    border-color: #c36abf;
}

.btn-outline-science:hover {
    color: #212529;
    background-color: #c36abf;
    border-color: #c36abf;
}

.btn-outline-science:focus, .btn-outline-science.focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 106, 191, 0.5);
}

.btn-outline-science.disabled, .btn-outline-science:disabled {
    color: #c36abf;
    background-color: transparent;
}

.btn-outline-science:not(:disabled):not(.disabled):active, .btn-outline-science:not(:disabled):not(.disabled).active, .show > .btn-outline-science.dropdown-toggle {
    color: #212529;
    background-color: #c36abf;
    border-color: #c36abf;
}

.btn-outline-science:not(:disabled):not(.disabled):active:focus, .btn-outline-science:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-science.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 106, 191, 0.5);
}

.list-group-item-science {
    color: #7f337b;
    background-color: #f7ecf7;
}

.list-group-item-science.list-group-item-action:hover, .list-group-item-science.list-group-item-action:focus {
    color: #7f337b;
    background-color: #f0daef;
}

.list-group-item-science.list-group-item-action.active {
    color: #212529;
    background-color: #7f337b;
    border-color: #7f337b;
}

.table-science,
.table-science > th,
.table-science > td {
    background-color: #f7ecf7;
}

.table-hover .table-science:hover {
    background-color: #f0daef;
}

.table-hover .table-science:hover > td,
.table-hover .table-science:hover > th {
    background-color: #f0daef;
}

.text-science {
    color: #c36abf !important;
}

a.text-science:hover, a.text-science:focus {
    color: #b247ad !important;
}


/*------------------------------------
- COLOR language
------------------------------------*/
.alert-language {
    color: #6b3204;
    background-color: #fcd7b9;
    border-color: #fbcca6;
}

.alert-language hr {
    border-top-color: #fabe8d;
}

.alert-language .alert-link {
    color: #3a1b02;
}

.badge-language {
    color: #212529;
    background-color: #e16909;
}

.badge-language[href]:hover, .badge-language[href]:focus {
    color: #212529;
    background-color: #af5207;
}

.bg-language {
    background-color: #e16909 !important;
}

a.bg-language:hover, a.bg-language:focus,
button.bg-language:hover,
button.bg-language:focus {
    background-color: #af5207 !important;
}

.border-language {
    border-color: #e16909 !important;
}

.btn-language {
    color: #212529;
    background-color: #e16909;
    border-color: #e16909;
}

.btn-language:hover {
    color: #212529;
    background-color: #be5807;
    border-color: #af5207;
}

.btn-language:focus, .btn-language.focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 9, 0.5);
}

.btn-language.disabled, .btn-language:disabled {
    color: #212529;
    background-color: #e16909;
    border-color: #e16909;
}

.btn-language:not(:disabled):not(.disabled):active, .btn-language:not(:disabled):not(.disabled).active, .show > .btn-language.dropdown-toggle {
    color: #212529;
    background-color: #af5207;
    border-color: #a14b06;
}

.btn-language:not(:disabled):not(.disabled):active:focus, .btn-language:not(:disabled):not(.disabled).active:focus, .show > .btn-language.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 9, 0.5);
}

.btn-outline-language {
    color: #e16909;
    background-color: transparent;
    border-color: #e16909;
}

.btn-outline-language:hover {
    color: #212529;
    background-color: #e16909;
    border-color: #e16909;
}

.btn-outline-language:focus, .btn-outline-language.focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 9, 0.5);
}

.btn-outline-language.disabled, .btn-outline-language:disabled {
    color: #e16909;
    background-color: transparent;
}

.btn-outline-language:not(:disabled):not(.disabled):active, .btn-outline-language:not(:disabled):not(.disabled).active, .show > .btn-outline-language.dropdown-toggle {
    color: #212529;
    background-color: #e16909;
    border-color: #e16909;
}

.btn-outline-language:not(:disabled):not(.disabled):active:focus, .btn-outline-language:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-language.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 9, 0.5);
}

.list-group-item-language {
    color: #6b3204;
    background-color: #fbcca6;
}

.list-group-item-language.list-group-item-action:hover, .list-group-item-language.list-group-item-action:focus {
    color: #6b3204;
    background-color: #fabe8d;
}

.list-group-item-language.list-group-item-action.active {
    color: #212529;
    background-color: #6b3204;
    border-color: #6b3204;
}

.table-language,
.table-language > th,
.table-language > td {
    background-color: #fbcca6;
}

.table-hover .table-language:hover {
    background-color: #fabe8d;
}

.table-hover .table-language:hover > td,
.table-hover .table-language:hover > th {
    background-color: #fabe8d;
}

.text-language {
    color: #e16909 !important;
}

a.text-language:hover, a.text-language:focus {
    color: #af5207 !important;
}


/*------------------------------------
- COLOR other
------------------------------------*/
.alert-other {
    color: #302217;
    background-color: #dac5b4;
    border-color: #d3baa6;
}

.alert-other hr {
    border-top-color: #cbad95;
}

.alert-other .alert-link {
    color: #0e0a07;
}

.badge-other {
    color: #fff;
    background-color: #835e40;
}

.badge-other[href]:hover, .badge-other[href]:focus {
    color: #fff;
    background-color: #60452f;
}

.bg-other {
    background-color: #835e40 !important;
}

a.bg-other:hover, a.bg-other:focus,
button.bg-other:hover,
button.bg-other:focus {
    background-color: #60452f !important;
}

.border-other {
    border-color: #835e40 !important;
}

.btn-other {
    color: #fff;
    background-color: #835e40;
    border-color: #835e40;
}

.btn-other:hover {
    color: #fff;
    background-color: #6b4c34;
    border-color: #60452f;
}

.btn-other:focus, .btn-other.focus {
    box-shadow: 0 0 0 0.2rem rgba(131, 94, 64, 0.5);
}

.btn-other.disabled, .btn-other:disabled {
    color: #fff;
    background-color: #835e40;
    border-color: #835e40;
}

.btn-other:not(:disabled):not(.disabled):active, .btn-other:not(:disabled):not(.disabled).active, .show > .btn-other.dropdown-toggle {
    color: #fff;
    background-color: #60452f;
    border-color: #563e2a;
}

.btn-other:not(:disabled):not(.disabled):active:focus, .btn-other:not(:disabled):not(.disabled).active:focus, .show > .btn-other.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(131, 94, 64, 0.5);
}

.btn-outline-other {
    color: #835e40;
    background-color: transparent;
    border-color: #835e40;
}

.btn-outline-other:hover {
    color: #fff;
    background-color: #835e40;
    border-color: #835e40;
}

.btn-outline-other:focus, .btn-outline-other.focus {
    box-shadow: 0 0 0 0.2rem rgba(131, 94, 64, 0.5);
}

.btn-outline-other.disabled, .btn-outline-other:disabled {
    color: #835e40;
    background-color: transparent;
}

.btn-outline-other:not(:disabled):not(.disabled):active, .btn-outline-other:not(:disabled):not(.disabled).active, .show > .btn-outline-other.dropdown-toggle {
    color: #fff;
    background-color: #835e40;
    border-color: #835e40;
}

.btn-outline-other:not(:disabled):not(.disabled):active:focus, .btn-outline-other:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-other.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(131, 94, 64, 0.5);
}

.list-group-item-other {
    color: #302217;
    background-color: #d3baa6;
}

.list-group-item-other.list-group-item-action:hover, .list-group-item-other.list-group-item-action:focus {
    color: #302217;
    background-color: #cbad95;
}

.list-group-item-other.list-group-item-action.active {
    color: #fff;
    background-color: #302217;
    border-color: #302217;
}

.table-other,
.table-other > th,
.table-other > td {
    background-color: #d3baa6;
}

.table-hover .table-other:hover {
    background-color: #cbad95;
}

.table-hover .table-other:hover > td,
.table-hover .table-other:hover > th {
    background-color: #cbad95;
}

.text-other {
    color: #835e40 !important;
}

a.text-other:hover, a.text-other:focus {
    color: #60452f !important;
}


/*------------------------------------
- COLOR util
------------------------------------*/
.alert-util {
    color: #350a3b;
    background-color: #e29fed;
    border-color: #dd8eea;
}

.alert-util hr {
    border-top-color: #d778e6;
}

.alert-util .alert-link {
    color: #0e0310;
}

.badge-util {
    color: #fff;
    background-color: #911ea3;
}

.badge-util[href]:hover, .badge-util[href]:focus {
    color: #fff;
    background-color: #6a1677;
}

.bg-util {
    background-color: #911ea3 !important;
}

a.bg-util:hover, a.bg-util:focus,
button.bg-util:hover,
button.bg-util:focus {
    background-color: #6a1677 !important;
}

.border-util {
    border-color: #911ea3 !important;
}

.btn-util {
    color: #fff;
    background-color: #911ea3;
    border-color: #911ea3;
}

.btn-util:hover {
    color: #fff;
    background-color: #761884;
    border-color: #6a1677;
}

.btn-util:focus, .btn-util.focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 30, 163, 0.5);
}

.btn-util.disabled, .btn-util:disabled {
    color: #fff;
    background-color: #911ea3;
    border-color: #911ea3;
}

.btn-util:not(:disabled):not(.disabled):active, .btn-util:not(:disabled):not(.disabled).active, .show > .btn-util.dropdown-toggle {
    color: #fff;
    background-color: #6a1677;
    border-color: #5f136b;
}

.btn-util:not(:disabled):not(.disabled):active:focus, .btn-util:not(:disabled):not(.disabled).active:focus, .show > .btn-util.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 30, 163, 0.5);
}

.btn-outline-util {
    color: #911ea3;
    background-color: transparent;
    border-color: #911ea3;
}

.btn-outline-util:hover {
    color: #fff;
    background-color: #911ea3;
    border-color: #911ea3;
}

.btn-outline-util:focus, .btn-outline-util.focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 30, 163, 0.5);
}

.btn-outline-util.disabled, .btn-outline-util:disabled {
    color: #911ea3;
    background-color: transparent;
}

.btn-outline-util:not(:disabled):not(.disabled):active, .btn-outline-util:not(:disabled):not(.disabled).active, .show > .btn-outline-util.dropdown-toggle {
    color: #fff;
    background-color: #911ea3;
    border-color: #911ea3;
}

.btn-outline-util:not(:disabled):not(.disabled):active:focus, .btn-outline-util:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-util.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 30, 163, 0.5);
}

.list-group-item-util {
    color: #350a3b;
    background-color: #dd8eea;
}

.list-group-item-util.list-group-item-action:hover, .list-group-item-util.list-group-item-action:focus {
    color: #350a3b;
    background-color: #d778e6;
}

.list-group-item-util.list-group-item-action.active {
    color: #fff;
    background-color: #350a3b;
    border-color: #350a3b;
}

.table-util,
.table-util > th,
.table-util > td {
    background-color: #dd8eea;
}

.table-hover .table-util:hover {
    background-color: #d778e6;
}

.table-hover .table-util:hover > td,
.table-hover .table-util:hover > th {
    background-color: #d778e6;
}

.text-util {
    color: #911ea3 !important;
}

a.text-util:hover, a.text-util:focus {
    color: #6a1677 !important;
}


/*------------------------------------
- COLOR computers
------------------------------------*/
.alert-computers {
    color: #4d6326;
    background-color: #ebf2de;
    border-color: #e2eccf;
}

.alert-computers hr {
    border-top-color: #d6e5bd;
}

.alert-computers .alert-link {
    color: #303e18;
}

.badge-computers {
    color: #212529;
    background-color: #91b94c;
}

.badge-computers[href]:hover, .badge-computers[href]:focus {
    color: #212529;
    background-color: #75963b;
}

.bg-computers {
    background-color: #91b94c !important;
}

a.bg-computers:hover, a.bg-computers:focus,
button.bg-computers:hover,
button.bg-computers:focus {
    background-color: #75963b !important;
}

.border-computers {
    border-color: #91b94c !important;
}

.btn-computers {
    color: #212529;
    background-color: #91b94c;
    border-color: #91b94c;
}

.btn-computers:hover {
    color: #212529;
    background-color: #7da13f;
    border-color: #75963b;
}

.btn-computers:focus, .btn-computers.focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 185, 76, 0.5);
}

.btn-computers.disabled, .btn-computers:disabled {
    color: #212529;
    background-color: #91b94c;
    border-color: #91b94c;
}

.btn-computers:not(:disabled):not(.disabled):active, .btn-computers:not(:disabled):not(.disabled).active, .show > .btn-computers.dropdown-toggle {
    color: #212529;
    background-color: #75963b;
    border-color: #6c8b36;
}

.btn-computers:not(:disabled):not(.disabled):active:focus, .btn-computers:not(:disabled):not(.disabled).active:focus, .show > .btn-computers.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 185, 76, 0.5);
}

.btn-outline-computers {
    color: #91b94c;
    background-color: transparent;
    border-color: #91b94c;
}

.btn-outline-computers:hover {
    color: #212529;
    background-color: #91b94c;
    border-color: #91b94c;
}

.btn-outline-computers:focus, .btn-outline-computers.focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 185, 76, 0.5);
}

.btn-outline-computers.disabled, .btn-outline-computers:disabled {
    color: #91b94c;
    background-color: transparent;
}

.btn-outline-computers:not(:disabled):not(.disabled):active, .btn-outline-computers:not(:disabled):not(.disabled).active, .show > .btn-outline-computers.dropdown-toggle {
    color: #212529;
    background-color: #91b94c;
    border-color: #91b94c;
}

.btn-outline-computers:not(:disabled):not(.disabled):active:focus, .btn-outline-computers:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-computers.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 185, 76, 0.5);
}

.list-group-item-computers {
    color: #4d6326;
    background-color: #e2eccf;
}

.list-group-item-computers.list-group-item-action:hover, .list-group-item-computers.list-group-item-action:focus {
    color: #4d6326;
    background-color: #d6e5bd;
}

.list-group-item-computers.list-group-item-action.active {
    color: #212529;
    background-color: #4d6326;
    border-color: #4d6326;
}

.table-computers,
.table-computers > th,
.table-computers > td {
    background-color: #e2eccf;
}

.table-hover .table-computers:hover {
    background-color: #d6e5bd;
}

.table-hover .table-computers:hover > td,
.table-hover .table-computers:hover > th {
    background-color: #d6e5bd;
}

.text-computers {
    color: #91b94c !important;
}

a.text-computers:hover, a.text-computers:focus {
    color: #75963b !important;
}


/*------------------------------------
- COLOR cefg
------------------------------------*/
.alert-cefg {
    color: #0e5259;
    background-color: #bbeef3;
    border-color: #a9e9f0;
}

.alert-cefg hr {
    border-top-color: #93e4ed;
}

.alert-cefg .alert-link {
    color: #072a2e;
}

.badge-cefg {
    color: #212529;
    background-color: #20b3c3;
}

.badge-cefg[href]:hover, .badge-cefg[href]:focus {
    color: #212529;
    background-color: #188a97;
}

.bg-cefg {
    background-color: #20b3c3 !important;
}

a.bg-cefg:hover, a.bg-cefg:focus,
button.bg-cefg:hover,
button.bg-cefg:focus {
    background-color: #188a97 !important;
}

.border-cefg {
    border-color: #20b3c3 !important;
}

.btn-cefg {
    color: #212529;
    background-color: #20b3c3;
    border-color: #20b3c3;
}

.btn-cefg:hover {
    color: #212529;
    background-color: #1a96a4;
    border-color: #188a97;
}

.btn-cefg:focus, .btn-cefg.focus {
    box-shadow: 0 0 0 0.2rem rgba(32, 179, 195, 0.5);
}

.btn-cefg.disabled, .btn-cefg:disabled {
    color: #212529;
    background-color: #20b3c3;
    border-color: #20b3c3;
}

.btn-cefg:not(:disabled):not(.disabled):active, .btn-cefg:not(:disabled):not(.disabled).active, .show > .btn-cefg.dropdown-toggle {
    color: #212529;
    background-color: #188a97;
    border-color: #167e8a;
}

.btn-cefg:not(:disabled):not(.disabled):active:focus, .btn-cefg:not(:disabled):not(.disabled).active:focus, .show > .btn-cefg.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(32, 179, 195, 0.5);
}

.btn-outline-cefg {
    color: #20b3c3;
    background-color: transparent;
    border-color: #20b3c3;
}

.btn-outline-cefg:hover {
    color: #212529;
    background-color: #20b3c3;
    border-color: #20b3c3;
}

.btn-outline-cefg:focus, .btn-outline-cefg.focus {
    box-shadow: 0 0 0 0.2rem rgba(32, 179, 195, 0.5);
}

.btn-outline-cefg.disabled, .btn-outline-cefg:disabled {
    color: #20b3c3;
    background-color: transparent;
}

.btn-outline-cefg:not(:disabled):not(.disabled):active, .btn-outline-cefg:not(:disabled):not(.disabled).active, .show > .btn-outline-cefg.dropdown-toggle {
    color: #212529;
    background-color: #20b3c3;
    border-color: #20b3c3;
}

.btn-outline-cefg:not(:disabled):not(.disabled):active:focus, .btn-outline-cefg:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-cefg.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(32, 179, 195, 0.5);
}

.list-group-item-cefg {
    color: #0e5259;
    background-color: #a9e9f0;
}

.list-group-item-cefg.list-group-item-action:hover, .list-group-item-cefg.list-group-item-action:focus {
    color: #0e5259;
    background-color: #93e4ed;
}

.list-group-item-cefg.list-group-item-action.active {
    color: #212529;
    background-color: #0e5259;
    border-color: #0e5259;
}

.table-cefg,
.table-cefg > th,
.table-cefg > td {
    background-color: #a9e9f0;
}

.table-hover .table-cefg:hover {
    background-color: #93e4ed;
}

.table-hover .table-cefg:hover > td,
.table-hover .table-cefg:hover > th {
    background-color: #93e4ed;
}

.text-cefg {
    color: #20b3c3 !important;
}

a.text-cefg:hover, a.text-cefg:focus {
    color: #188a97 !important;
}



/*------------------------------------
- COLOR library
------------------------------------*/
.alert-library {
    color: #000000;
    background-color: #5fdf98;
    border-color: #4ddb8d;
}

.alert-library hr {
    border-top-color: #38d77f;
}

.alert-library .alert-link {
    color: #000000;
}

.badge-library {
    color: #fff;
    background-color: #135f35;
}

.badge-library[href]:hover, .badge-library[href]:focus {
    color: #fff;
    background-color: #0a341d;
}

.bg-library {
    background-color: #135f35 !important;
}

a.bg-library:hover, a.bg-library:focus,
button.bg-library:hover,
button.bg-library:focus {
    background-color: #0a341d !important;
}

.border-library {
    border-color: #135f35 !important;
}

.btn-library {
    color: #fff;
    background-color: #135f35;
    border-color: #135f35;
}

.btn-library:hover {
    color: #fff;
    background-color: #0d4124;
    border-color: #0a341d;
}

.btn-library:focus, .btn-library.focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 95, 53, 0.5);
}

.btn-library.disabled, .btn-library:disabled {
    color: #fff;
    background-color: #135f35;
    border-color: #135f35;
}

.btn-library:not(:disabled):not(.disabled):active, .btn-library:not(:disabled):not(.disabled).active, .show > .btn-library.dropdown-toggle {
    color: #fff;
    background-color: #0a341d;
    border-color: #072716;
}

.btn-library:not(:disabled):not(.disabled):active:focus, .btn-library:not(:disabled):not(.disabled).active:focus, .show > .btn-library.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 95, 53, 0.5);
}

.btn-outline-library {
    color: #135f35;
    background-color: transparent;
    border-color: #135f35;
}

.btn-outline-library:hover {
    color: #fff;
    background-color: #135f35;
    border-color: #135f35;
}

.btn-outline-library:focus, .btn-outline-library.focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 95, 53, 0.5);
}

.btn-outline-library.disabled, .btn-outline-library:disabled {
    color: #135f35;
    background-color: transparent;
}

.btn-outline-library:not(:disabled):not(.disabled):active, .btn-outline-library:not(:disabled):not(.disabled).active, .show > .btn-outline-library.dropdown-toggle {
    color: #fff;
    background-color: #135f35;
    border-color: #135f35;
}

.btn-outline-library:not(:disabled):not(.disabled):active:focus, .btn-outline-library:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-library.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 95, 53, 0.5);
}

.list-group-item-library {
    color: #000000;
    background-color: #4ddb8d;
}

.list-group-item-library.list-group-item-action:hover, .list-group-item-library.list-group-item-action:focus {
    color: #000000;
    background-color: #38d77f;
}

.list-group-item-library.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-library,
.table-library > th,
.table-library > td {
    background-color: #4ddb8d;
}

.table-hover .table-library:hover {
    background-color: #38d77f;
}

.table-hover .table-library:hover > td,
.table-hover .table-library:hover > th {
    background-color: #38d77f;
}

.text-library {
    color: #135f35 !important;
}

a.text-library:hover, a.text-library:focus {
    color: #0a341d !important;
}


/*------------------------------------
- COLOR brick
------------------------------------*/
.alert-brick {
    color: #6c2d2d;
    background-color: #f6eaea;
    border-color: #f0dcdc;
}

.alert-brick hr {
    border-top-color: #e8caca;
}

.alert-brick .alert-link {
    color: #481e1e;
}

.badge-brick {
    color: #fff;
    background-color: #ba5b5b;
}

.badge-brick[href]:hover, .badge-brick[href]:focus {
    color: #fff;
    background-color: #9f4242;
}

.bg-brick {
    background-color: #ba5b5b !important;
}

a.bg-brick:hover, a.bg-brick:focus,
button.bg-brick:hover,
button.bg-brick:focus {
    background-color: #9f4242 !important;
}

.border-brick {
    border-color: #ba5b5b !important;
}

.btn-brick {
    color: #fff;
    background-color: #ba5b5b;
    border-color: #ba5b5b;
}

.btn-brick:hover {
    color: #fff;
    background-color: #a94747;
    border-color: #9f4242;
}

.btn-brick:focus, .btn-brick.focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 91, 91, 0.5);
}

.btn-brick.disabled, .btn-brick:disabled {
    color: #fff;
    background-color: #ba5b5b;
    border-color: #ba5b5b;
}

.btn-brick:not(:disabled):not(.disabled):active, .btn-brick:not(:disabled):not(.disabled).active, .show > .btn-brick.dropdown-toggle {
    color: #fff;
    background-color: #9f4242;
    border-color: #943e3e;
}

.btn-brick:not(:disabled):not(.disabled):active:focus, .btn-brick:not(:disabled):not(.disabled).active:focus, .show > .btn-brick.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 91, 91, 0.5);
}

.btn-outline-brick {
    color: #ba5b5b;
    background-color: transparent;
    border-color: #ba5b5b;
}

.btn-outline-brick:hover {
    color: #fff;
    background-color: #ba5b5b;
    border-color: #ba5b5b;
}

.btn-outline-brick:focus, .btn-outline-brick.focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 91, 91, 0.5);
}

.btn-outline-brick.disabled, .btn-outline-brick:disabled {
    color: #ba5b5b;
    background-color: transparent;
}

.btn-outline-brick:not(:disabled):not(.disabled):active, .btn-outline-brick:not(:disabled):not(.disabled).active, .show > .btn-outline-brick.dropdown-toggle {
    color: #fff;
    background-color: #ba5b5b;
    border-color: #ba5b5b;
}

.btn-outline-brick:not(:disabled):not(.disabled):active:focus, .btn-outline-brick:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-brick.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 91, 91, 0.5);
}

.list-group-item-brick {
    color: #6c2d2d;
    background-color: #f0dcdc;
}

.list-group-item-brick.list-group-item-action:hover, .list-group-item-brick.list-group-item-action:focus {
    color: #6c2d2d;
    background-color: #e8caca;
}

.list-group-item-brick.list-group-item-action.active {
    color: #fff;
    background-color: #6c2d2d;
    border-color: #6c2d2d;
}

.table-brick,
.table-brick > th,
.table-brick > td {
    background-color: #f0dcdc;
}

.table-hover .table-brick:hover {
    background-color: #e8caca;
}

.table-hover .table-brick:hover > td,
.table-hover .table-brick:hover > th {
    background-color: #e8caca;
}

.text-brick {
    color: #ba5b5b !important;
}

a.text-brick:hover, a.text-brick:focus {
    color: #9f4242 !important;
}


/*------------------------------------
- COLOR concrete
------------------------------------*/
.alert-concrete {
    color: #837038;
    background-color: #100101102;
    border-color: #faf8f4;
}

.alert-concrete hr {
    border-top-color: #f2eee2;
}

.alert-concrete .alert-link {
    color: #605229;
}

.badge-concrete {
    color: #212529;
    background-color: #c3af74;
}

.badge-concrete[href]:hover, .badge-concrete[href]:focus {
    color: #212529;
    background-color: #b39a50;
}

.bg-concrete {
    background-color: #c3af74 !important;
}

a.bg-concrete:hover, a.bg-concrete:focus,
button.bg-concrete:hover,
button.bg-concrete:focus {
    background-color: #b39a50 !important;
}

.border-concrete {
    border-color: #c3af74 !important;
}

.btn-concrete {
    color: #212529;
    background-color: #c3af74;
    border-color: #c3af74;
}

.btn-concrete:hover {
    color: #212529;
    background-color: #b8a05b;
    border-color: #b39a50;
}

.btn-concrete:focus, .btn-concrete.focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 175, 116, 0.5);
}

.btn-concrete.disabled, .btn-concrete:disabled {
    color: #212529;
    background-color: #c3af74;
    border-color: #c3af74;
}

.btn-concrete:not(:disabled):not(.disabled):active, .btn-concrete:not(:disabled):not(.disabled).active, .show > .btn-concrete.dropdown-toggle {
    color: #212529;
    background-color: #b39a50;
    border-color: #aa9249;
}

.btn-concrete:not(:disabled):not(.disabled):active:focus, .btn-concrete:not(:disabled):not(.disabled).active:focus, .show > .btn-concrete.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 175, 116, 0.5);
}

.btn-outline-concrete {
    color: #c3af74;
    background-color: transparent;
    border-color: #c3af74;
}

.btn-outline-concrete:hover {
    color: #212529;
    background-color: #c3af74;
    border-color: #c3af74;
}

.btn-outline-concrete:focus, .btn-outline-concrete.focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 175, 116, 0.5);
}

.btn-outline-concrete.disabled, .btn-outline-concrete:disabled {
    color: #c3af74;
    background-color: transparent;
}

.btn-outline-concrete:not(:disabled):not(.disabled):active, .btn-outline-concrete:not(:disabled):not(.disabled).active, .show > .btn-outline-concrete.dropdown-toggle {
    color: #212529;
    background-color: #c3af74;
    border-color: #c3af74;
}

.btn-outline-concrete:not(:disabled):not(.disabled):active:focus, .btn-outline-concrete:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-concrete.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 175, 116, 0.5);
}

.list-group-item-concrete {
    color: #837038;
    background-color: #faf8f4;
}

.list-group-item-concrete.list-group-item-action:hover, .list-group-item-concrete.list-group-item-action:focus {
    color: #837038;
    background-color: #f2eee2;
}

.list-group-item-concrete.list-group-item-action.active {
    color: #212529;
    background-color: #837038;
    border-color: #837038;
}

.table-concrete,
.table-concrete > th,
.table-concrete > td {
    background-color: #faf8f4;
}

.table-hover .table-concrete:hover {
    background-color: #f2eee2;
}

.table-hover .table-concrete:hover > td,
.table-hover .table-concrete:hover > th {
    background-color: #f2eee2;
}

.text-concrete {
    color: #c3af74 !important;
}

a.text-concrete:hover, a.text-concrete:focus {
    color: #b39a50 !important;
}




